.list {
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
}
.project-miniature {
    padding: 15px 15px;
    width: 383px;
    height: 383px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
img {
    width: 100%;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.text {
    color: #111111;
    font-size: 16px;
    padding: 16px 32px;
}
.project-miniature:hover .middle {
    opacity: 1;
}
.project-miniature:hover .image {
    opacity: 0.3;
}
.project-categories {
    margin-top: 5vh;
}
@media all and (max-width: 1025px) {
    .project-miniature {
        margin-bottom: 30px;
        max-height: 347px;
    }
}
