<div class="project-categories">
    <app-project-filters (projectsChanged)="projectsChangedHandler($event)"></app-project-filters>
</div>
<div class="col-12 list">
    <div *ngFor="let project of projects"
         class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 project-miniature">
        <img src="../../assets/images/background-project.png" alt="project" class="image">
        <div class="middle">
            <div class="text">{{ project.title }}</div>
            <button mat-raised-button (click)="openDialog(project)">Découvrir</button>
        </div>
    </div>
</div>
