.home {
    position: relative;
    height: 100vh;
    margin: 0;
    background-image: url("../../assets/images/background-home.png");
    background-size: 100% 100vh;
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 36px;
    color: #111111;
    line-height: 48px;
    font-weight: 700;
    max-width: 100vw;
}
.container {
    margin-left: 12%;
    padding-top: 25vh;
    width: 80%;
}
.name {
    color: #1a7465;
}
.subtitle {
    font-family: 'Poppins Light', sans-serif;
    color: #fd4968;
    font-size: 24px;
}
p {
    margin-bottom: -4px;
}
.container-scroll {
    position: absolute;
    width: 20%;
    left: 40%;
    bottom: 50px;
    text-align: center;
    font-size: 12px;
    font-family: Poppins, sans-serif;
}
a {
    text-decoration: none;
    color: #111111;
}
@media all and (max-width: 1023px) {
    .home {
        background-image: url("../../assets/images/background-home-mobile.png");
    }
    .subtitle {
        font-size: 22px;
    }
    .description {
        font-size: 29px;
    }
    .hello {
        font-size: 29px;
    }
}
