<div class="home">
    <div class="container">
        <div class="container-text">
            <p class="hello">Hello !</p>
            <p class="description">Je suis <span class="name">Alexia</span>, Chef de projet web Junior</p>
            <p class="subtitle">& passionnée de design.</p>
        </div>
    </div>
    <div class="container-scroll">
        <a href="#project">
            <img src="../../assets/images/scroll.png">
        </a>
        <p>
            <a href="#project">scroll</a>
        </p>
    </div>
</div>
