<div class="not-found-container">
    <div class="not-found">
        <h1>404</h1>
        <h1>Page not found</h1>
        <hr>
        <br>
        <a href="http://localhost:4200">
            Homepage
        </a>
    </div>
</div>
