.not-found-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background: white;
    height: 100vh;
    font-family: 'Poppins SemiBold', sans-serif;
    text-transform: uppercase;
}
.not-found {
    height: 50vh;
    margin-top: 25vh;
}
a {
    padding: 15px 30px;
    background: #1a7465;
    border-radius: 40px;
    text-decoration: none;
    color: white;
}
