.about {
    position: relative;
    min-height: 100vh;
    margin: 0;
}
.container {
    margin-top: 12vh;
}
.about-title {
    width: 200px;
    font-size: 24px;
}
.title {
    border-bottom: 5px solid #fe4968;
}
.about-container {
    margin-top: 60px;
    display: flex;
}
.background-picture {
    position: relative;
}
.background-picture img {
    height: 432px;
}
.picture {
    position: absolute;
    top: 45px;
    left: 60px;
}
.first-paragraph {
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 24px;
}
.title-description{
    color: #0a8f87;
}
.second-paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: justify;
}
.semi-bold {
    font-family: 'Poppins SemiBold', sans-serif;
}
.about-container-second-part {
    margin-top: 30px;
}
.text-rose {
    color: #fe4968;
}
.col-6, .col-12 {
    padding-left: 0px !important;
}
.title-third-part {
    margin-bottom: 40px;
}
.about-container-third-part {
    text-align: center;
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 16px;
    color: #008171;
}
.picto {
    height: 80px;
    margin-bottom: 20px;
}
@media all and (max-width: 1023px) {
    .container {
        margin-top: 40px;
    }
    .about-container {
        display: flex;
        margin-top: 40px;
        flex-direction: column-reverse;
    }
    .about-container-third-part {
        display: flex;
        flex-wrap: wrap;
    }
    .background-picture img {
        height: 402px;
    }
    .picture {
        left: 50px;
    }
    .picture img {
        width: 295px;
    }
    .about-container-second-part {
        margin-top: 55px;
    }
}
