<div class="about">
    <div class="container">
        <div class="about-title">
            <h4>
                <span class="title text-uppercase">À propos</span>
            </h4>
        </div>
        <div class="about-container">
            <div class="col-6">
                <div class="background-picture">
                    <img src="../../assets/images/background-picture.png">
                </div>
                <div class="picture">
                    <img src="../../assets/images/alexia-marques.png">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <p class="first-paragraph text-uppercase">Quelques mots sur <span class="title-description">mon parcours</span></p>
                <p class="second-paragraph">Je m’appelle Alexia, j’ai 23 ans, et je suis Chef de Projet Junior en agence
                    Web.
                    <br>
                    <br>
                    Après une <span class="semi-bold">Licence LEA</span> (Langues Etrangères Appliqueés) grâce à
                    laquelle j’ai pu consolider mes
                    compétences en Anglais et Espagnol, je me suis tournée vers les métiers du Web en intégrant le
                    <span class="semi-bold">DUT MMI</span> (Métiers du Multimédia et de l’Internet) de l’IUT de Troyes.
                    <br>
                    <br>
                    J’y ai découvert une réelle passion pour le <span class="semi-bold">graphisme</span>, la
                    <span class="semi-bold">gestion de projet</span>, la <span class="semi-bold">communication</span>,
                    et le
                    <span class="semi-bold">web</span> de façon générale.
                    <br>
                    Un semestre au Canada, et plusieurs projets plus tard, j’ai fièrement obtenu mon diplôme et le titre
                    de <span class="semi-bold">Major de promotion</span>.
                    <br>
                    <br>
                    Depuis Septembre 2017, je suis étudiante en <span class="semi-bold">Mastère Expert en Stratégie Digitale</span>
                    au sein de l’école
                    Digital Campus de Lyon, et alternante au sein de l’agence de communication <span class="semi-bold">Le Monde Change</span>
                    à Paris.
                    <br>
                    <br>
                    Véritable <span class="semi-bold">mouton à 5 pattes</span>, je travaille sur des sujets liés au
                    digital et mène à bien des projets,
                    qu’ils soient autour de la conception d’un dispositif digital (site, application, production de
                    contenus, etc.) ou de campagnes de communication plus globales.
                </p>
            </div>
        </div>
        <div class="about-container-second-part">
            <div class="col-12 title-third-part">
                <p class="first-paragraph text-uppercase">Quelques <span class="text-rose">domaines de compétences</span></p>
            </div>
            <div class="row about-container-third-part">
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2">
                    <img class="picto" src="../../assets/images/picto-graph.png">
                    <p>Graphisme</p>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2">
                    <img class="picto" src="../../assets/images/picto-ux.png">
                    <p>UX/UI Design</p>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2">
                    <img class="picto" src="../../assets/images/picto-project.png">
                    <p>Gestion de projet</p>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2">
                    <img class="picto" src="../../assets/images/picto-art.png">
                    <p>Direction Artistique</p>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2">
                    <img class="picto" src="../../assets/images/picto-com.png">
                    <p>Communication Digitale</p>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2">
                    <img class="picto" src="../../assets/images/picto-marketing.png">
                    <p>Marketing Digital</p>
                </div>
            </div>
        </div>
    </div>
</div>
