<div>
    <app-menu></app-menu>
    <app-home></app-home>
    <app-project-list id="project"></app-project-list>
    <app-about id="about"></app-about>
    <app-contact id="contact"></app-contact>
</div>
