.navbar {
    left: 30px;
    right: 30px;
    box-sizing: border-box;
    background-color: white !important;
}
.menu-name {
    color: #fc4a69;
}
.section {
    margin-left: 25px;
}
.section a {
    color: #0a8f87;
    text-decoration: none;
}
.social-media img {
    margin-left: 15px;
    height: 19px;
}
.col-md-1 img {
    height: 40px;
}
@media all and (max-width: 1023px) {
    .col-md-1 {
        width: 30%;
    }
    .menu-name {
        display: none;
    }
    .col-md-3 {
        display: flex;
        justify-content: space-around;
    }
    .section {
        margin-left: 0;
    }
}
@media all and (max-width: 1040px) {
    .col-md-1 {
        width: 30%;
    }
    .col-md-3 {
        display: flex;
        justify-content: space-around;
    }
    .section {
        margin-left: 0;
    }
    .col-md-2 {
        display: flex;
        justify-content: space-around;
    }
    .social-media img {
        margin-left: 0;
    }
}
