<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="col-md-1">
        <img src="../../assets/images/alexiamarques-logo.png" alt="alexiamarques-logo">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="col-md-2 nav-item">
            <span class="menu-name">
                Alexia Marques
            </span>
        </div>
        <div class="col-md-3 offset-md-5 nav-item text-right">
            <span class="section">
                <a href="#project">Projets</a>
            </span>
            <span class="section">
                <a href="#about">A propos</a>
            </span>
            <span class="section">
                <a href="#contact">Contact</a>
            </span>
        </div>
        <div class="col-md-2 nav-item">
            <span class="social-media">
                <a href="https://www.facebook.com/alexia.mqs"
                   target="_blank">
                    <img src="../../assets/icon/facebook.svg" alt="facebook-logo">
                </a>
            </span>
            <span class="social-media">
                <a href="https://www.instagram.com/eliatina/"
                   target="_blank">
                    <img src="../../assets/icon/instagram.svg" alt="instagram-logo">
                </a>
            </span>
            <span class="social-media">
                <a href="https://www.linkedin.com/in/alexia-marques-b199578a/?originalSubdomain=fr"
                   target="_blank">
                    <img src="../../assets/icon/linkedin.svg" alt="linkedin-logo">
                </a>
            </span>
        </div>
    </div>
</nav>
