.contact {
    position: relative;
    background-image: url("../../assets/images/background-footer-flower.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 100vh;
    margin: 0;
}
.container {
    width: 100vw;
    margin-top: 12vh;
}
.contact-title {
    width: 200px;
    font-size: 24px;
}
.title {
    border-bottom: 5px solid #fe4968;
}
mat-form-field {
    width: 100%;
}
form div {
    padding-left: 0 !important;
}
button {
    background-color: #fe4968;
    color: white;
}
.contact-container {
    display: flex;
    margin-top: 60px;
}
.text-semibold {
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 24px;
}
.text-regular {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.footer {
    height: 60px;
    background-image: url("../../assets/images/background-footer.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Poppins Light', sans-serif;
    font-size: 14px;
    line-height: 60px;
}
@media all and (max-width: 1025px) {
    .container {
        margin-top: 40px;
    }
    .contact {
        background-image: url("../../assets/images/background-contact-mobile.png");
        background-size: 200px;
        margin-bottom: 10px;
    }
    .contact-container {
        display: flex;
        margin-top: 40px;
        flex-direction: column-reverse;
    }
}
