<div class="contact">
    <div class="container">
        <div class="contact-title">
            <h4>
                <span class="title text-uppercase">Me contacter</span>
            </h4>
        </div>
        <div class="contact-container">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5">
                <form>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Nom</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Prénom</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Objet</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Message</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button>Envoyer</button>
                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <p class="text-semibold text-uppercase">Besoin d'une injection de créativité et/ou de digital ?</p>
                <p class="text-regular">Je suis toujours à la recherche de projets originaux, innovants & créatifs.
                    <br>
                    N'hésitez pas à me contacter par mail afin que nous en discutions ensemble !</p>
            </div>
        </div>
    </div>
</div>
<div class="footer container-fluid">
    bretton.jordan@gmail - copyright 2019
</div>
