.project {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-image: url("../../assets/images/background-project-1.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    font-family: 'Poppins SemiBold', sans-serif;
    color: #111111;
}
.container {
    margin-top: 12vh;
}
.project-title {
    width: 200px;
    font-size: 24px;
}
.title {
    border-bottom: 5px solid #fe4968;
}
@media all and (max-width: 1025px) {
    .container {
        margin-top: 40px;
    }
    .project {
        background-image: url("../../assets/images/background-project-mobile.png");
        background-size: 200px;
    }
}
