<div class="project">
    <div class="container">
        <div class="project-title">
            <h4>
                <span class="title">MES PROJETS</span>
            </h4>
        </div>
        <app-project></app-project>
    </div>
</div>
