.title {
    border-bottom: 5px solid #fe4968;
    font-family: 'Poppins SemiBold', sans-serif;
}
.category-title {
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 14px;
}
.category {
    font-size: 12px;
    font-family: 'Poppins SemiBold', sans-serif;
}
.tools-title {
    color: #fe4968;
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 14px;
}
.tools {
    font-size: 12px;
    font-family: 'Poppins SemiBold', sans-serif;
}
.btn-success {
    background-color: #008171 !important;
}
