<h1 mat-dialog-title>
    <span class="title">{{ data.project.title }}</span>
</h1>
<div mat-dialog-content>
    <span><i><b>Type de projet</b></i></span>
    <p class="category-title">Domaines de compétences:
        <span *ngIf="category && category.name !== null"
              class="category">{{ category.name }}</span>
    </p>
    <hr>
    <p>{{ data.project.description }}</p>
    <hr>
    <p class="tools-title"><i>Outils utilisés:</i></p>
    <p class="tools">{{ data.project.tools }}</p>
    <button class="btn btn-success"
            (click)="goToLink(data.project.link)">Voir le projet
    </button>
</div>
