<div class="container" *ngIf="categories !== null">
    <span (click)="filterProject()"
          class="category">All</span>
    <span *ngFor="let category of categories"
          (click)="filterProject(category.id)"
          class="category">{{ category.name}}</span>
</div>
