.container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 5vh auto 5vh auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
a {
    color: #111111;
    text-decoration: none;
}
span:hover {
    color: #1a7465;
    font-weight: bold;
}
.category {
    cursor: pointer;
}
@media all and (max-width: 1025px) {
    .container {
        width: 100%;
        font-size: 17px;
        padding-left: 0;
    }
}
